.qr-container {
    height: 150px;
    padding: 7px;
    margin: 8px;
    background: #fff;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.menu-container,
.article-container {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: var(--menuWidth);
    height: 100%;
}
.article-container {
    backdrop-filter: var(--blur);
    animation-name: fade;
    background-color: #0008;
}
.menu-container,
.article-container,
.article-wrapper {
    animation-duration: 0.5s;
    animation-timing-function: var(--transition-timing);
    animation-fill-mode: both;
}
.menu-container {
    pointer-events: none;
    display: none;
}
.menu-container.show {
    pointer-events: unset;
    display: block;
}
.article-container {
    z-index: 6;
}
.menu-container .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--menuWidth);
    height: 100%;
    background-color: none; /* 背景颜色 */
    backdrop-filter: var(--blur);
    box-shadow: 5px 0 25px #0004;
    transition: clip-path var(--transition-timing) 0.367s,
        opacity cubic-bezier(0, 0, 0.2, 1) 0.367s;
    clip-path: inset(0 100% 0 0);
    opacity: 0;
}
.menu-container.show .menu {
    clip-path: inset(0 -50px 0 0);
    opacity: 1;
}
body.blur .menu .btn-group {
    --black: var(--neutralSecondaryAlt);
}
.menu .btn-group {
    display: flex;
}
body.darwin .menu .btn-group {
    flex-direction: row-reverse;
}
.menu-container .menu .nav-wrapper {
    max-height: calc(100% - var(--navHeight));
    overflow: hidden auto;
}
.menu-container .menu p.subs-header {
    font-size: 12px;
    color: var(--neutralSecondaryAlt);
    margin: 2px 8px;
    user-select: none;
}
.menu .link-stack {
    overflow: hidden;
}
.menu .link-text {
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}
.menu .unread-count {
    color: var(--neutralSecondary);
}

.settings-container {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neutralLight);
    overflow: hidden;
}
.settings-container .settings {
    margin: 64px auto 0;
    width: 680px;
    height: calc(100% - 128px);
    background-color: var(--white);
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
        0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
    overflow: hidden;
}
div[role="toolbar"] {
    height: 100%;
}
div[role="tabpanel"] {
    height: calc(100% - 68px);
    padding: 12px 16px;
    overflow-y: auto;
    position: relative;
}
.settings .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fffa;
    z-index: 8;
}
.settings .loading .ms-Spinner {
    margin-top: 180px;
}
.settings .loading .ms-Spinner:focus {
    outline: none;
}
.tab-body .ms-StackItem {
    margin-right: 6px;
    margin-bottom: 12px;
}
.tab-body .ms-StackItem:last-child {
    margin-right: 0;
}
.tab-body .ms-ChoiceFieldGroup {
    margin-bottom: 20px;
}
.tab-body .ms-CommandBar {
    padding: 0;
}
img.favicon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    user-select: none;
}
img.favicon.dropdown {
    margin-right: 8px;
    vertical-align: sub;
}
.ms-DetailsList-contentWrapper {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 16px;
}
.settings-hint {
    user-select: none;
    line-height: 32px;
    font-size: 12px;
    color: var(--neutralSecondary);
}
.settings-hint.up {
    position: relative;
    top: -12px;
    line-height: unset;
}
.settings-about {
    margin: 72px 0;
    color: var(--black);
}
.settings-about > * {
    margin: 0 !important;
    -webkit-user-drag: none;
}
.settings-rules-icons i {
    color: var(--black);
    user-select: none;
}
.settings-rules-icons i:last-of-type {
    color: var(--neutralSecondary);
}
.login-form {
    width: 300px;
}
.login-form .ms-Label {
    width: 72px;
}

.main {
    height: 100%;
    overflow: hidden;
    background-color: var(--neutralLighterAlt);
}
.main::before {
    content: "";
    display: block;
    position: relative;
    top: var(--navHeight);
    left: 0;
    width: calc(100% - 16px);
    height: var(--navHeight);
    margin-bottom: calc(-1 * var(--navHeight));
    background: linear-gradient(var(--neutralLighterAlt), #faf9f800);
    z-index: 1;
}
.article-search {
    z-index: 4;
    position: absolute;
    top: 0;
    left: var(--menuWidth);
    width: 450px;
    margin: 4px 16px;
    border: none;
    -webkit-app-region: none;
    height: calc(var(--navHeight) - 4px);
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
        0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}
.main:not(.menu-on) .article-search {
    left: -5px;
}
body.darwin .main:not(.menu-on) .article-search {
    left: 55px;
}
.list-main .article-search {
    max-width: 310px;
    left: 0;
    top: var(--navHeight);
    margin: 0 20px;
}
.main,
.list-main {
    transition: margin-left var(--transition-timing) 0.367s;
    margin-left: 0;
}

/* 主内容区和列表主内容区样式，所有断点有效 */
.main.menu-on,
.list-main.menu-on {
    margin-left: var(--menuWidth); /* 左边距 */
}

/* 设置媒体查询，当视口宽度大于等于 菜单断点 时生效 */
@media (min-width: 1200px) {
    /* 菜单容器样式 */
    .menu-container {
        width: var(--menuWidth); /* 宽度 */
        background: none; /* 背景 */
        backdrop-filter: none; /* 背景滤镜 */
    }
    /* 菜单展开时的样式 */
    .menu-container.show .menu {
        clip-path: inset(0); /* 剪切路径 */
    }
    /* macOS 主题下的菜单样式 */
    body.darwin .menu-container .menu {
        background: none; /* 背景 */
    }
    /* macOS 主题下展开的菜单样式 */
    body.darwin .menu-container .menu.item-on {
        background-color: var(--neutralLight); /* 背景颜色 */
    }
    /* 菜单伪元素样式 */
    .menu-container .menu::after {
        content: ""; /* 内容为空 */
        display: block; /* 块级元素显示 */
        pointer-events: none; /* 鼠标事件 */
        position: absolute; /* 绝对定位 */
        top: -10%; /* 顶部偏移 */
        right: 0; /* 右侧偏移 */
        width: 120%; /* 宽度 */
        height: 120%; /* 高度 */
        box-shadow: inset 5px 0 25px #0004; /* 内部阴影 */
    }
    /* 内联块级元素样式 */
    .btn-group .btn.inline-block-wide {
        display: inline-block; /* 内联块级元素显示 */
    }
}
